html, body, header, img, nav, ol, ul, li, aside, h3, h2, h1, section, figure, figcaption, p, form, label, input, select, option, textarea, footer {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}

ol, ul {
    list-style: none;
}

body {
    line-height: 1.5;
}

img {
    width: 100%;
}
