/* PHASE 3: Forms */
.post-form {
    display: flex;
}

.post-form form {
    background-color: #eee;
    border: 1px solid lightgray;
    width: 600px;
    margin-left: 20px;
    border-radius: 10px;
}

.post-form form label {
    font-weight: 700;
}

.input-area {
    margin: 20px 0px 0px 20px;
}

.input-area input {
    background-color: white;
}

.input-area textarea {
    background-color: white;;
}

.buttons {
    margin: 20px 0px 0px 20px;
    margin-bottom: 20px;
    display: flex;
}